{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-head">
            <button class="back-btn" onclick="window.history.back()">Назад</button>
            <h1>TeenSpace</h1>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>