{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="vacancy">
        <h1>Вакансия</h1>
    </div>
    <div class="descryption">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi dolorum accusamus ipsam dolorem explicabo at possimus minima, quasi placeat saepe nostrum reprehenderit maiores modi voluptates nihil. Odit, quidem saepe?</p>
    </div>
    <div class="salary">
        <p>Зарплата 200 тыс.</p>
    </div>
    <div class="course">
        <p>Обучающий материал <a href="https://example.com" target="_blank">сайт</a>.</p>

    </div>
    <div class="delete">
        <button>Удалить вакансию</button>
    </div>
    
{% endblock %}