{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="job-card">
        <div class="job-grey">
           <h2> монтаж</h2>
          <div class="job-details">
              <p>Название ИП</p>
              <p>200 тыс. тенге</p>
           </div>
        </div>
        
    </div>

    <div class="job-card">
        <div class="job-grey">
            <h2>доставка</h2>
            <div class="job-details">
                <p>Название ИП</p>
                <p>25 тыс. тенге</p>
            </div>
        </div>
        
    </div>

    <div class="job-card">
        <div class="job-grey">
            <h2>промоутер</h2>
          <div class="job-details">
             <p>Название ИП</p>
             <p>50 тыс. тенге</p>
           </div>
        </div>

    </div>

    <button>Добавить вакансию</button>

{% endblock %}
