<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeenSpace</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="container-head">
        <button class="back-btn" onclick="window.history.back()">Назад</button>
        <h1>TeenSpace</h1>
    </div>
    
    <div class="teens">
        <h1>Подростки</h1>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
    </div>
    
    
  
    

   

  

</body>
</html>