{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    <div class="teens">
        <h1>Подростки</h1>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
        <div class="teen">
            <p>ФИО</p>
            <p>age</p>
        </div>
    </div>
    
{% endblock %}