{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    <div class="initials-child">
        <h1>Имя ребенка</h1>
    </div>
    <div class="tasks">
        <div class="task">
            <h2>Задача 1</h2>
            <div class="task-status completed">
                 <p>Выполнено</p>
            </div>
            
        </div>
        <div class="task">
            <h2>Задача 2</h2>
            <div class="task-status completed">
                 <p>Не выполнено</p>
            </div>
            
        </div>
    </div>
       
{% endblock %}