{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="registration-form">
        <div class="registration">
            <h1>Регистрация</h1>
        </div>
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            <label for="login">Ваш логин</label>
            <input type="text" id="login" placeholder="Логин" required>

            <label for="password">Ваш пароль</label>
            <input type="password" id="password" placeholder="Пароль" required>

            <label for="phone">Номер телефона</label>
            <input type="tel" id="phone" placeholder="Номер телефона" required>

            <label for="age">Возраст</label>
            <input type="number" id="age" placeholder="Возраст" required>
            <a href="{% url 'register_child' %}">
                <button type="submit">Зарегистрироваться</button>
            </a>
        </form>
    </div>
    
{% endblock %}