{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="registration">
        <h1>Регистрация</h1>
    </div>
    <div class="who-are">
        <p>Кем вы являетесь?</p>
    </div>
    <div class="btns">
        <a href="{% url 'parentProf' %}">
            <button class="who-are-btn">
                <p>Родитель</p>
            </button>
        </a>

        <a href="{% url 'teenProf' %}">
            <button class="who-are-btn">
                <p>Подросток</p>
            </button>
        </a>

        <a href="{% url 'employProf' %}">
            <button class="who-are-btn">
                <p>Работодатель</p>
            </button>
        </a>
    </div>
    
{% endblock %}