{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="registration">
        <h1>Регистрация</h1>
    </div>
    <div class="who-are">
        <p>Кем вы являетесь?</p>
    </div>
    <div class="btns">
        <button class="who-are-btn">
                <p>Родитель</p>
        </button>
        <button class="who-are-btn">
                <p>Подросток</p>
        </button>
        <button class="who-are-btn">
                <p>Работодатель</p>
        </button>
    </div>
    
{% endblock %}